@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 5, 5, 5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #050505;
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
}

/* Lenis recommended styles */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}